html {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS', sans-serif;
	background-color: #e7eff7;
	color: #1b1b0d;
	margin: 0;
	padding: 0;
}
::selection {
	color: #8a5e00;
	background: rgb(37, 56, 142, 0.3);
}

/* Footer stuff */
footer {
	background-color: #24388a;
	color: gold;
	padding: 30px;
	text-align: center;
	font-size: 1.25rem;
}

footer > a {
	margin: 0 1.5rem;
	font-size: 1.15rem;
}

/* HEADER STUFF */
.top-banner {
	background-color: #24388a;
	padding: 30px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 28px;
	gap: 25px
}

.top-banner h1 {
	color: gold;
	font-weight: bold;
}

#top-img {
	max-width: 200px;
	float: right;
}

.top-banner img {
	min-width: 200px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain
}

.nav-container {
	background: #4358ad;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #87dfdf;
	font-weight: 500;
	font-size: 24px;
	padding: 0 16px;
	text-align: center;
	z-index: 1;
}

.nav-container a {
	color: #62b4f3;
	text-decoration: none;
	padding: 2px 5px;
	border-bottom: #c0daf3 2px solid;
}

.nav-container a:hover {
	color: #85949d;
	text-decoration: none;
	border-bottom: #003261 2px solid;
}

#nav-dropdown {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.2rem;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.revealable {
	position: relative;
	transform: translateY(150px);
	transition: all 2s ease;
	opacity: 0;
}

.active {
	opacity: 1;
	transform: translateY(0);
}

.no-motion {
	position: static;
	transform: translateY(0);
	opacity: 1;
}

/* OTHER THINGS */
/*Define links in this order:*/
a {
	color: #0f8299;
	text-underline-offset: 4px;
}

a:visited {
	color: #c374a2;
}

a:hover {
	color: #15b79c;
	text-underline-offset: 1px;
}

a:active {
	color: #633196;
}

.main-content {
	margin: 0 10%;
}

.main-content > * {
	margin: 6% 0;
}

.smooth-nav-transition {
	margin-top: 9%;
}

h2 {
	font-size: 2rem;
}

/*Intro Stuff*/
.introducton {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2.2rem;
}

.disclamer {
	margin: 20px;
	padding: 20px;
	background-color: #f9f9f9;
	text-align: center;
	border: 2px solid #ffe;
	border-radius: 30px;
}

#intro-left iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro-left {
	padding: 10px;
	position: relative;
	flex: 1;
	width: 100%;
	padding-bottom: 25%;
}

#intro-text {
	flex: 1;
}

/*Stats Stuff*/
.main-stat-container {
	text-align: center;
	max-width: 90%;
	margin: auto;
}

.stats-big {
	margin: 15px 5px;
	padding: 10px 40px;
	background-color: #ffffff;
	border-radius: 5px;
}

ul {
	margin-left: 0.25rem;
	margin-bottom: 1.5rem;
}


.stat-container {
	display: none;
	text-align: left;
}

.show-rest {
	display: block;
}

.emphizise {
	font-weight: bold;
	font-size: 1.4em;
}

/* Quiz stuff*/
.quiz-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.quiz-question-container {
	padding: 10px;
	justify-content: space-between;
	flex: 3;
	background-color: #fafaff;
	border-radius: 8px 0 0 8px;
}

#quiz-option-1 {
	border-radius: 0 8px 0 0;
}

#quiz-option-4 {
	border-radius: 0 0 8px 0;
}

.quiz-question-container img {
	max-width: 100%;
}

#quiz-img {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	padding: 1rem;
}


/*Form things*/
.signature-form-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	padding-bottom: 3%;
}

.sig-text {
	max-width: 60%;
}

.form-holder button {
	margin-left: 5px;
}

.signature-class {
	width: 40%;
	padding: 0 2rem;
}

.quiz-choices {
	flex-direction: column;
	/* margin: 0 3rem; */
	flex: 1;
}

.quiz-choices button {
	width: 100%;
	height: 25%;
}


/* !! BUTTONS !! */

button {
	padding: 10px;
	border: none;
	border-radius: 10px;
	transition: all 0.2s ease;
	background-color: #ffe;

}

button:hover {
	background-color: #eddb7d;
	padding: 10px 15px;
	cursor: pointer;
}

button:active {
	background-color: #5ee4d6;
}

.quiz-button-styling {
	border-radius: 1px;
	transition: all 0.2s ease;
}

/* !! BUTTONS - END !! */

/* Modal things - pasted from music player project*/
.modal {
	 display: none;
	 position: fixed;
	 z-index: 1;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
	 background-color: rgb(0, 5, 30,0.4);
	 margin: 0;
	 font-size: 1.5rem;
}

.modal-content {
	background-color: #fefefe;
	margin: 20% auto;
	padding: 40px 60px;
	border: 1px solid #283774;
	border-radius: 2rem;
	width: 35%;
	max-height: 30%;
	display: flex;
	content: contain;
}

.close {
	color: #1c225f;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	 color: #65688b;
	 text-decoration: none;
	 cursor: pointer;
}

.close-mover {
	position: relative;
	right: 5%;
	bottom: 28px;
}

.modal-deco {
	padding-left: 40px;
	align-self: center;
}

.modal-deco img {
	width: 85px; 
}

.animated-element {
	position: relative;
	animation: moveElement 2s linear infinite;
}

@keyframes moveElement {
	0% { top: 0; left: 0; transform: rotate(0deg);}
	25% { top: -11px; left: 11px; transform: rotate(21deg);}
	50% { top: 0; left: 0; transform: rotate(0deg);}
	75% { top: -11px; left: -11px; transform: rotate(-21deg);}
	100% { top: 0; left: 0; transform: rotate(0deg);}
}


/* OTHER THINGS - JS class-adders */
.dark-mode {
	background-color: #002841;
	color: #e7eff7;
}

.dark-mode-extra {
	background-color: #2a2f50;
}

.nav-container-dark {
	background: #16182d;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #bde5e5;
	font-weight: 500;
	font-size: 24px;
	padding: 0 16px;
}

.nav-container-dark a {
	color: #62b4f3;
	text-decoration: none;
	padding: 2px 5px;
	border-bottom: #c0daf3 2px solid;
}

.nav-container-dark a:hover {
	color: #85949d;
	text-decoration: none;
	border-bottom: #003261 2px solid;
}

.dark-mode-extra a:visited {
	color: #948ecc;
}

.dark-mode-extra a:hover {
	color: #5cada0;
	text-underline-offset: 1px;
}

.dark-mode-extra a:active {
	color: #633196;
}

.button-dark {
	background-color: #221943;
	color: #e7eff7;
	border: 1px solid #3a305f;
}

.button-dark:hover {
	background-color: #554c2b;
	color: #dbdbdb;
}

.button-dark:active {
	background-color: #1d867b;
}

/* OTHER THINGS - JS class-adders END */

/* MEDIA QUERIES MFers!! */
@media (max-width: 768px) {
	h2 {
		font-size: 1.6rem;
	}
	
	.nav-container {
		font-size: 20px;
	}

	.nav-container > * {
		margin: 15px;
	}

	.nav-container:last-child {
		padding-right: 30px;
	}

	.introducton {
		flex-flow: column;
	}

	#intro-left {
		padding-bottom: 56.25%
	}

	.smooth-nav-transition {
		margin-top: 20%;
	}

	.main-stat-container {
		max-width: 100%;
	}

	.signature-form-container {
		flex-flow: column wrap;
	}

	.sig-text {
		padding-right: 0;
		max-width: 100%;
	}

	.signature-class {
		width: 100%;
	}

	img {
		max-width: 100vmax;
	}

	.modal-content {
		width: 40%;
	}
}
	