html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS', sans-serif;
	background-color: #e7eff7;
	color: #1b1b0d;
	margin: 0;
	padding: 0;
}

::selection {
	color: #8a5e00;
	background: rgb(37, 56, 142, 0.3);
}


/* OTHER THINGS - JS class-adders */
.dark-mode {
	background-color: #002841;
	color: #e7eff7;
}



.dark-mode-extra a:visited {
	color: #76748b;
}

.dark-mode-extra a:hover {
	color: #5cada0;
	text-underline-offset: 1px;
}

.dark-mode-extra a:active {
	color: #633196;
}

.nav-container-dark {
	background: #0a0e1c;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #bde5e5;
	font-weight: 500;
	font-size: 24px;
	padding: 0 16px;
}

.nav-container-dark a {
	color: #62b4f3;
	text-decoration: none;
	padding: 2px 5px;
	border-bottom: #c0daf3 2px solid;
}

.nav-container-dark a:hover {
	color: #85949d;
	text-decoration: none;
	border-bottom: #003261 2px solid;
}

.button-dark {
	background-color: #221943;
	color: #e7eff7;
	border: 1px solid #3a305f;
}

.button-dark:hover {
	background-color: #554c2b;
	color: #dbdbdb;
}

.button-dark:active {
	background-color: #1d867b;
}

/* OTHER THINGS - JS class-adders END */

/* HEADER STUFF */
.top-banner {
	background-color: #24388a;
	padding: 30px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.top-banner h1 {
	padding: 0 30px;
	color: gold;
	font-weight: bold;
}

#top-img {
	max-width: 200px;
	float: right;
}

.nav-container {
	background: #4358ad;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #87dfdf;
	font-weight: 500;
	font-size: 24px;
	padding: 0 16px;
	text-align: center;
	z-index: 1;
}

.nav-container a {
	color: #62b4f3;
	text-decoration: none;
	padding: 2px 5px;
	border-bottom: #c0daf3 2px solid;
}

.nav-container a:hover {
	color: #85949d;
	text-decoration: none;
	border-bottom: #003261 2px solid;
}

#nav-dropdown {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.2rem;
}


.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}



/* OTHER THINGS */
/*Define links in this order:*/
a:link {
	color: #0f8299;
	text-underline-offset: 4px;
}

a:visited {
	color: #2e3757;
}

a:hover {
	color: #15b79c;
	text-underline-offset: 1px;
}

a:active {
	color: #633196;
}

.main-content {
	margin: 0 10%;
}

.main-content>* {
	margin: 4% 0;
}

.smooth-nav-transition {
	margin-top: 7%;
}


/*Intro Stuff*/
.introducton {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	/* padding: 5px 25px; */
}

.disclamer {
	margin: 20px;
	padding: 20px;
	background-color: #f9f9f9;
	text-align: center;
	border: 2px solid #ffe;
	border-radius: 30px;
}

#intro-left iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro-left {
	padding: 10px;
	border: 1px solid cornflowerblue;
	/* ^ for seeing */
	position: relative;
	flex: 1;
	width: 100%;
	padding-bottom: 25%;
}

#intro-text {
	padding: 0 20px;
	border: 1px solid cornflowerblue;
	/*for seeing*/
	flex: 1;
}

/*Stats Stuff*/
.main-stat-container {
	text-align: center;
}

.stats-big {
	margin: 15px 5px;
	border: 1px solid cornflowerblue;
	/*for seeing*/
	padding: 10px 40px;
	background-color: #ffffff;
}

ul {
	margin-left: 0.35rem;
	margin-bottom: 1.5rem;
}


.stat-container {
	display: none;
}

.show-rest {
	display: block;
}

.emphizise {
	font-weight: bold;
	font-size: 1.4em;
}

/* Quiz stuff*/
.quiz-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.quiz-question-container {
	padding: 10px;
	border: 1px solid cornflowerblue;
	justify-content: space-between;
	flex: 2;
	/*for seeing*/
	background-color: #ffffff;
}

/*Form things*/
.signature-form-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	padding-bottom: 3%;
}

.sig-text {
	/* padding-right: 10%; */
	max-width: 60%;
}

.form-holder button {
	margin-left: 5px;
}

.signature-class {
	width: 40%;
	padding: 0 2rem;
}



/* #quiz-img img{
	max-width: 100%;
	max-height: 100%;
	object-fit: content
} */

.quiz-choices {
	flex-direction: column;
	/* margin: 0 3rem; */
	flex: 1;
}

.quiz-choices button {
	width: 100%;
	height: 25%;
}


/* !! BUTTONS !! */

button {
	padding: 10px;
	border: none;
	border-radius: 10px;
	transition: all 0.2s ease;
	background-color: #ffe;

}

button:hover {
	background-color: #eddb7d;
	padding: 10px 15px;
	cursor: pointer;
}

button:active {
	background-color: #5ee4d6;
}

.quiz-button-styling {
	border-radius: 1px;
	transition: all 0.2s ease;
}

/* !! BUTTONS - END !! */

.dark-mode-extra {
	background-color: #2a2f50;
}

/* FOR SEEING SECION - DO WILL REMOVE LATER */

/* INTRODUCTIONS */
.introducton {
	border: 3px dashed red;
	/*for seeing*/
}


/* STATISITICS AREA */
.main-stat-container {
	border: 3px dashed blue;
	/*for seeing*/
}


/* QUIZ THINGS */
.quiz-container {
	border: 3px dashed green;
	/*for seeing
}

/* FOR SEEING SECION - END */


/* div {
	display: flow-root;
	padding: 25px;
} */

img {
	min-width: 200px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain
}

/* .left-side {
	float: left;
	/* padding-right: 3rem; 
} */






/* MEDIA QUERIES MFers!! */
@media (max-width: 768px) {
	.nav-container {
		font-size: 20px;
	}

	.introducton {
		flex-flow: column;
	}

	#intro-left {
		padding-bottom: 56.25%
	}

	.smooth-nav-transition {
		margin-top: 20%;
	}

	.signature-form-container {
		flex-flow: column wrap;
	}

	.sig-text {
		padding-right: 0;
	}

	.signature-class {
		width: 100%;
	}

}